.detail-container {
    padding-top: 2.2rem;
}

.detail-container .data-default,
.detail-container .salient {
    margin-bottom: 1.6rem;
}

.order-detail_references-list-item {
    margin-bottom: 1.6rem;
}

.detail-container .code-scanner-container {
    margin: 0 -2.4rem -2.4rem -2.4rem;
}

#app .technicians-list {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

#app .technician-filter {
    margin-top: 1rem;
}