.full-window-gallery {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(26, 26, 26, 0.64);
  backdrop-filter: blur(32px);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.eye-gallery {
  position: absolute;
  bottom: 40px;
  left: 95px;
}

.full-window-gallery .current-image .close-btn {
  position: absolute;
  top: 2.8rem;
  right: 2.8rem;
}

.full-window-gallery .current-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.full-window-gallery .current-image picture {
  text-align: center;
}

.full-window-gallery .current-image img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.full-window-gallery .current-image .caption {
  position: absolute;
  bottom: 0;
  background: #262626;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.full-window-gallery .current-image .caption img {
  object-fit: cover;
}

.full-window-gallery .current-image:hover .caption {
  opacity: 0.85;
}

.full-window-gallery .current-image .caption .caption-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
}

.full-window-gallery .current-image .caption .caption-container .comment-content {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.full-window-gallery .current-image .caption .caption-container .comment-date {
  font-size: 13px;
  line-height: 20px;
  color: var(--color-neutral100, #b5b5b5);
}

.full-window-gallery .current-image .caption .caption-container .comment-user {
  /* width: 100%; */
  overflow: visible;
}

.full-window-gallery footer {
  height: 15.5rem;
  background: #262626;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  max-width: 100%;
}

.full-window-gallery footer .carrousel-btn {
  position: absolute;
  top: 0;
  height: 100%;
  background: #262626;
  opacity: 0.85;
  z-index: 1;
  cursor: pointer;
}

.full-window-gallery footer .carrousel-btn.prev {
  left: 0;
}

.full-window-gallery footer .carrousel-btn.next {
  right: 0;
}

.full-window-gallery footer ul {
  display: flex;
  list-style: none;
  overflow: auto hidden;
}

.full-window-gallery footer ul li {
  border: 2px solid transparent;
  margin: 0 0.2rem;
}

.full-window-gallery footer ul li.active {
  border-color: var(--color-accent-200, #fcdd82);
  position: relative;
}

.full-window-gallery footer ul li.active .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-window-gallery footer ul picture,
.full-window-gallery footer ul .icon-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.6rem;
  width: 23rem;
  overflow: hidden;
}

.full-window-gallery footer ul li:not(.active) .icon-thumbnail {
  border: 1px solid;
}

.full-window-gallery footer ul .icon-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.full-window-gallery footer ul .icon-thumbnail .icon {
  font-size: 4rem;
}

.full-window-gallery footer ul picture img {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  width: 100%;
  min-height: 100%;
}

.full-window-gallery footer ul picture img.has-error {
  min-height: auto;
  width: auto;
}

.full-window-gallery footer.mobile {
  display: none;
}

@media (max-width: 768px) {
  .full-window-gallery footer.desktop {
    display: none;
  }

  .full-window-gallery footer.mobile {
    display: block;
  }
}
