.full-image {
  gap: 2rem;
  color: var(--color-neutral200, #858585);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral600, #363636);
  margin-top: 100px;
  margin-left: 95px;
  margin-right: 95px;
}

@media only screen and (min-width: 500px) {
  .full-picture {
    padding-left: 95px;
    padding-right: 95px;
  }
}

.full-picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-window-gallery .current-image img {
  height: calc(100vh - 160px);
}

@media only screen and (max-width: 500px) {
  .error-picture {
    background-color: #363636;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0.6;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
    display: flex;
  }
  .error-picture p {
    text-align: center;
  }

  .error-picture img {
    height: 100px !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (min-width: 500px) {
  .error-picture {
    background-color: #363636;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.6;
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 100px;
  }
  .error-picture img {
  height: 100% !important;
  padding-bottom: 10px !important;
  }
}

.full-image h4 {
  margin-bottom: 4rem;
  padding: 0 2.5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-neutral200, #858585);
}
.download-button {
  width: 256px;
  color: black;
}

.full-image > .icon {
  height: 8rem;
}

.full-image > .icon .icon-container__image {
  font-size: 8rem;
}

.full-image .pdf-viewer {
  width: 100%;
}

.full-image .download-file {
  text-align: center;
}
