.title-sga {
    display: flex;
    align-items: center;
}

.title-sga .title-label {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 36px;
    color: var(--color-neutral50, #E6E6E6);
    margin-bottom: 0;
}

.title-sga .title-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-neutral100, #B5B5B5);
    margin-left: 2rem;
}