.transfer-location-page-mobile .materials-list {
    height: calc(100% - 10rem);
    overflow: auto;
}

.transfer-location-page-mobile .materials-list .salient {
    margin: .8rem 0;
}

.transfer-location-page-mobile .mobile-slide-panel_content .form-field {
    margin-bottom: 0;
}

.transfer-location-page-mobile .mobile-slide-panel_content .form-field.has-errors {
    margin-bottom: 1.6rem;
}

.transfer-location-page-mobile .mobile-slide-panel_content .row {
    margin-bottom: 1.6rem;
}

.transfer-location-page-mobile .mobile-slide-panel_content .btn {
    display: block;
    margin-bottom: 1.6rem;
    width: 100%;
}