.page-mobile {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-mobile .title {
  margin: 0 0 2.4rem 0 !important;
  width: 100%;
}

.page-mobile .title .title__title-container {
  width: 100%;
}

.page-mobile .page-content {
  /* height: calc(100% - 8.6rem); */
  flex: 1;
}

.page-mobile .page-content.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.page-mobile .page-content.scroll.has-subtitle {
  height: calc(100% - 19rem);
}

.page-mobile.has-footer .page-content.scroll {
  height: calc(100% - 17rem);
}

.page-mobile.has-footer .btn--fab__bottom-right {
  bottom: calc(8rem + 2.4rem);
}

.page-mobile .fitler-toggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.page-mobile .fitler-toggle:hover,
.page-mobile .fitler-toggle.active {
  color: #fcdd82;
}

.page-mobile .header-container {
  position: relative;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding-top: 0.5rem;
  margin-bottom: 2.8rem;
}

.page-mobile.no-padding .header-container {
  padding: 0 2.4rem;
}

.page-mobile .header-container .full-with {
  height: 100%;
}

.page-mobile .header-container.no-menu {
  z-index: 20;
}

.page-mobile .search-container {
  display: flex;
  justify-content: flex-end;
  height: 5.2rem;
  position: relative;
  width: 100%;
  z-index: 20;
}

.page-mobile .search-container {
  background: #262626;
}

.page-mobile .search-container.search-active .icon.close-search {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 21;
}

.page-mobile .button--fab {
  padding: 0;
  z-index: 1;
}

.page-mobile .button--fab-bottom-right {
  position: fixed;
  right: 0;
  bottom: 0;
}

.page-mobile .header-container ol {
  display: flex;
  justify-content: flex-end;
}

.page-mobile .full-with {
  width: 100%;
}

.page-mobile .full-with .form-field {
  width: 100%;
}

.page-mobile .header-container ol > li {
  display: none;
}

.page-mobile .header-container ol > li:first-child {
  display: block;
}

.page-mobile .mobile-breadcrumb {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-neutral100, #b5b5b5);
}

.page-mobile .code-scanner-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  right: 0;
  /* z-index: 10; */
}

.page-mobile .page-mobile-edit-active-container {
  z-index: 5;
  background-color: #262626;
  height: 8.2rem;
  display: flex;
  align-items: center;
}

.page-mobile .page-mobile-actions {
  display: flex;
  gap: 2rem;
  min-width: 4rem;
}

.page-mobile.has-scanner .button--fab {
  bottom: 5.6rem;
}

.page-mobile.has-footer .button--fab {
  bottom: 9rem;
}
