.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumb {
    /* margin-left: 0;
    padding-left: 0; */
    margin-bottom: 1.4rem;
}

.breadcrumb .breadcrumb__separator {
    font-size: 2.4rem;
    color: #ffffff;
    margin: auto 2.8rem;
}

.breadcrumb .breadcrumb__separator:hover {
    color: #FCDD82;
}

.breadcrumb .breadcrumb__item {
    text-decoration: none;
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.breadcrumb .breadcrumb__item:hover {
    color: #FCDD82;
}


@media (max-width: 760px) {
    #app .breadcrumb {
        display: none;
    }
}