@media (max-width: 760px) {
    .app-layout-content__main {
        /* padding: 2.4rem; */
        padding: 0;
    }

    .app-layout-content-main {
        padding: 0;
    }


    body .title {
        margin: 0 0 15px 0;
    }

    body .title .title__title {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 36px;
        color: var(--color-neutral50, #E6E6E6);
    }

    body .title .title__subtitle {
        font-size: 13px;
        line-height: 20px;
        text-transform: none;
    }

    .mb-16 {
        margin-bottom: 1.6rem;
    }

    .mt-0 {
        margin-top: 0;
    }
}