html {
  /* SPACERS */
  --spacer-xs: 0.4rem;
  --spacer-s: 0.8rem;
  --spacer-m: 1.6rem;
  --spacer-l: 2.4rem;
  --spacer-xl: 3.2rem;
  --spacer-2xl: 4rem;
  --spacer-3xl: 4.8rem;
  --spacer-4xl: 5.6rem;
  --spacer-5xl: 6.4rem;
  --spacer-6xl: 7.2rem;
  --spacer-7xl: 8rem;

  /* COLORES */
  --color-interface-black: #000000;
  --color-interface-white: #ffffff;
  --color-info50: #e1f4fc;
  --color-info100: #b4e4f8;
  --color-info200: #85d2f3;
  --color-info300: #3eb3ea;
  --color-info400: #2da5e6;
  --color-info500: #2998d8;
  --color-info600: #2385c4;
  --color-info700: #2074b0;
  --color-info800: #18558e;
  --color-info900: #0f477b;
  --color-ok50: #e6f5e8;
  --color-ok100: #c3e5c8;
  --color-ok200: #9cd4a4;
  --color-ok300: #73c480;
  --color-ok400: #53b766;
  --color-ok500: #30ab4b;
  --color-ok600: #279c42;
  --color-ok700: #1b8a36;
  --color-ok800: #0e792c;
  --color-ok900: #005a19;
  --color-warning50: #fbeae8;
  --color-warning100: #fecfbf;
  --color-warning200: #feb096;
  --color-warning300: #ff916c;
  --color-warning400: #ff794c;
  --color-warning500: #ff632e;
  --color-warning600: #f45c2a;
  --color-warning700: #e65525;
  --color-warning800: #d84f22;
  --color-warning900: #bf4219;
  --color-error50: #fceaee;
  --color-error100: #f7cbd3;
  --color-error200: #e4979d;
  --color-error300: #d67077;
  --color-error400: #e04f58;
  --color-error500: #e43e42;
  --color-error600: #d5353f;
  --color-error700: #c32c39;
  --color-error800: #b62632;
  --color-error900: #a61d28;
  --color-neutral50: #e6e6e6;
  --color-neutral100: #b5b5b5;
  --color-neutral200: #858585;
  --color-neutral300: #606060;
  --color-neutral400: #4d4d4d;
  --color-neutral500: #3f3f3f;
  --color-neutral600: #353535;
  --color-neutral700: #2e2e2e;
  --color-neutral800: #262626;
  --color-neutral900: #1a1a1a;
  --color-accent50: #fef7e1;
  --color-accent100: #fdebb3;
  --color-accent200: #fcdd82;
  --color-accent300: #fbd24f;
  --color-accent400: #fac628;
  --color-accent500: #fabd07;
  --color-accent600: #faaf01;
  --color-accent700: #f99c01;
  --color-accent800: #ea9000;
  --color-accent900: #db8700;
  --color-mainBlock: #1a1a1a;
  --color-mainBlock: #fcdd82;

  --color-history-instance: #616161;

  /*
     *   Purchase orders status colors
     */
  /*Borrador*/
  --color-purchaseorderstatus-1: #b5b5b5;
  /*Trámite*/
  --color-purchaseorderstatus-2: #f785f9;
  /*Enviado*/
  --color-purchaseorderstatus-3: #85d2f3;
  /*Autoalbaranado*/
  --color-purchaseorderstatus-8: #85d2f3;
  /*Cancelado*/
  --color-purchaseorderstatus-4: #e43e42;
  /*Bloqueado*/
  --color-purchaseorderstatus-5: #fbd24f;
  /*Recepcionado*/
  --color-purchaseorderstatus-6: #73c480;
  /*Finalizado*/
  --color-purchaseorderstatus-7: #73c480;
  /*Pdte Albarán*/
  --color-purchaseorderstatus-9: #fbd24f;

  /**
     *  Stock status colors by id
     */
  --color-stockstatus-0: #85d2f3;
  /*Optimo*/
  --color-stockstatus-1: #73c480;
  /*Pedido*/
  --color-stockstatus-2: #fbd24f;
  /*Mínimo*/
  --color-stockstatus-3: #e43e42;

  /**
     *  Location Status colors
     */
  --color-locationstatus-1: #fbd24f;
  --color-locationstatus-2: #e43e42;
  --color-locationstatus-3: #73c480;

  /**
     * Warhouse status colors
     */
  /*Pendiente*/
  --color-warehouse-movement-status1: #fbd24f;
  /*En progreso*/
  --color-warehouse-movement-status2: #85d2f3;
  /*Cerrada*/
  --color-warehouse-movement-status3: #73c480;
  /*Pausada*/
  --color-warehouse-movement-status4: #fbd24f;
  /*Cancelada*/
  --color-warehouse-movement-status5: #e43e42;

  /*LastinventoryStatus*/
  --color-lastinventorystatus-3: #73c480;
  --color-lastinventorystatus-1: #fbd24f;
  --color-lastinventorystatus-2: #e43e42;
}
