.gallery-preview {
    display: grid;
    row-gap: .4rem;
    column-gap: .4rem;

    --gallery-preview-height: 28.5rem;

    width: 100%;
    max-height: var(--gallery-preview-height);
    overflow: hidden;
    margin-bottom: 2rem;
    /* position: relative; */
}

/* 
.gallery-preview>div {
    height: 100%;
} */

.gallery-preview picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-preview picture img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.gallery-preview picture img.has-error {
    width: auto;
    max-width: 100%;
    min-height: auto;
}

.gallery-preview.no-items {
    grid-template-columns: 0fr;
    grid-template-rows: 0fr;
}

.gallery-preview.items-one {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, calc(var(--gallery-preview-height) / 2));
}

.gallery-preview.items-two {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, calc(var(--gallery-preview-height) / 2));
}

.gallery-preview.items-three {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, calc(var(--gallery-preview-height) / 2));
}

.gallery-preview.items-four {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, calc(var(--gallery-preview-height) / 2));
}

.gallery-preview.items-four .more {
    position: relative;
    cursor: pointer;
}

.gallery-preview.items-four .more .more-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 36px;
}

.gallery-preview .icon-thumbnail {
    height: 100%;
    width: calc(100% - 4px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}