.mobile-dashboard-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mobile-dashboard-page .page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  flex: 1;
}

.mobile-dashboard-page .page-content ul {
  list-style: none;
  flex: 1;
}

.mobile-dashboard-page .page-content ul li {
  margin-bottom: 1.6rem;
}

.mobile-dashboard-page .sga-qr-reader:not(.scanning) {
  margin: 0 -2.4rem -2.4rem -2.4rem;
}

.mobile-dashboard-page .references-selector .list-item-dual {
  background: var(--color-neutral700, #2e2e2e);
  margin-bottom: 1rem;
}

.mobile-dashboard-page .references-selector .list-item-dual__label-wrapper {
  flex: 1;
}
