.app-layout--login {
    background: #1a1a1a;
}

.app-layout--login .app-layout-content--login {
    padding: 100px;
    width: 100%;
    height: 100%;
}

.app-layout--login .app-layout-content__main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    background: #1a1a1a;
}

.app-layout--login .app-layout-content__main .login-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 440px;
}

.app-layout--login .app-layout-content__main .login-image {
    height: 100%;
    z-index: 5;
}

.app-layout--login .app-layout-content__main .login-image img {
    height: 100%;
}


.app-layout--login .right-column {
    display: block;
    background-color: #fcde83;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
}

.app-layout--login .right-column .slogan {
    bottom: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-weight: bolder;
    line-height: 32px;
    padding: 50px 0 0 70px;
    z-index: 2;
    background-color: #fcde83;
    width: 100%;
    color: #1A1A1A;
}