.assign-user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4d4d4d;
}

.assign-user-list-item .avatar {
    margin: 2.4rem;
    margin-right: 0;
}

.assign-user-list-item .assign-user-list-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 20rem;
}

.assign-user-list-item .assign-user-list-content .assign-user-name {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.assign-user-list-item .assign-user-avatar{
    margin-left: 15px;
}