.custom_grid_overlay--container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
}

.custom_grid_overlay--icon-container {
  display: block;
  margin-bottom: 10px;
}

.custom_grid_overlay--container>h3 {
  margin: 0px;
  text-transform: uppercase;
}