.mobile-free-entry-page .page-content {
    height: calc(100% - 9rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-free-entry-page .page-content .group-1 .data-default,
.mobile-free-entry-page .page-content .group-1 .salient {
    margin-bottom: 1.6rem;
}

.mobile-free-entry-page .mobile-slide-panel .form-field,
.mobile-free-entry-page .action-sheet .form-field {
    margin-top: 1.6rem;
    margin-bottom: 2.5rem !important;
}

.mobile-free-entry-page .mobile-slide-panel .btn-primary,
.mobile-free-entry-page .mobile-slide-panel .btn-secondary {
    margin-bottom: 1.6rem;
}

.mobile-free-entry-page .mobile-slide-panel .btn-primary:last-child,
.mobile-free-entry-page .mobile-slide-panel .btn-secondary:last-child {
    margin-bottom: 0;
}

.mobile-free-entry-page .warning-title {
    color: var(--color-warning300, #FF916C);
}