<!doctype html><html lang="en" class="notranslate" translate="no"><head><title>Application</title><meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta http-equiv="x-ua-compatible" content="ie=edge"><meta name="google" content="notranslate"><link rel="icon" type="image/x-icon" href="{{.app.spa.context_path}}favicon.ico"><script>var AMIGA_BASE_PATH = "{{.app.spa.context_path}}";
      var AMIGA_API_PATH = "{{.app.spa.api_path}}";</script><link href="{{.app.spa.context_path}}vendors~bundle.css?v=f022bdad1c6f6967203e" rel="stylesheet"><link href="{{.app.spa.context_path}}bundle.css?v=f022bdad1c6f6967203e" rel="stylesheet"></head><body><div id="app"><div style="font-size: 10pt; position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%)">Loading...</div></div><script src="{{.app.spa.context_path}}vendors~bundle.js?v=f022bdad1c6f6967203e"></script><script src="{{.app.spa.context_path}}bundle.js?v=f022bdad1c6f6967203e"></script></body></html>