#app .available-locations {
    position: relative;
    padding: 0 1.6rem;
    border: .1rem solid #353535;
    background-color: #2e2e2e;
    margin-top: 2rem;
}

#app .available-locations .data-default {
    margin-bottom: 0;

}

#app .available-locations .data-default .data-default__text-wrapper {
    padding-left: 0;
}

#app .available-locations .btn-select,
#app .available-locations .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


#app .available-locations .btn-select {
    right: 65px;
}

#app .available-locations .btn-next {
    right: 17px;
}