.page {
  /* position: relative; */
  height: 100%;
}

.page .title {
  display: inline-block;
  position: relative;
  line-height: 4.4rem;
  margin: 3.2rem auto 4.8rem;
}

.page .title.stock-title-reduced-margin-bottom {
  margin-bottom: 1rem;
}

.page .fitler-toggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.page .fitler-toggle:hover,
.page .fitler-toggle.active {
  color: #fcdd82;
}

.page .header-container {
  position: relative;
}

.page .search-container {
  display: flex;
  justify-content: flex-end;
  height: 5.2rem;
}

.page .search-container .search-active {
  position: relative;
}

.page .search-container .search-active .icon.close-search {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

.page.history-instance .header-container {
  margin: -3.2rem;
  padding: 1.5rem 3.2rem;
  height: 8.6rem;
  background-color: var(--color-history-instance);
  margin-bottom: 1rem;
  margin: -1.6rem -1.6rem 1rem;
}

.page.history-instance .header-container .sga-tooltip {
  min-width: fit-content;
  width: 45rem;
  max-width: 45rem;
}

.page.history-instance .header-container .historical-tooltip {
  width: 45rem;
  color: #e6e6e6;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

.page.history-instance .header-container .sga-tooltip--bottom .sga-tooltip__arrow-container {
  width: 33%;
}

.page.history-instance .header-container .breadcrumb {
  margin-bottom: 0;
}

.page .page-content {
  height: calc(100% - 150px);
}

.page .toolbar .toggle__content {
  margin-top: 0;
}

@media (max-width: 760px) {
  .page .header-container ol {
    display: flex;
    justify-content: flex-end;
  }

  .page .header-container ol > li {
    display: none;
  }

  .page .header-container ol > li:first-child {
    display: block;
  }
}

.date-filters .sga-date-picker {
  cursor: default;
  margin-right: 2.4rem;
  margin-bottom: 2.5rem;
}
