.access-deny-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.access-deny-message img {
    margin-bottom: 1rem;
    max-width: 100%;
}

.access-deny-message .access-deny-title {
    font-size: 25px;
    line-height: 36px;
    color: #B5B5B5;
    text-align: center;
    display: block;
    width: 100%;
}